.record-audio-button button {
  align-items: center;
  background: none;
  border: none;
  border-radius: 6px;
  color: #4a5058;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  padding: 10px;
}

.record-audio-button button:hover {
  background: #ebedef;
}

.recording-status {
  align-items: center;
  color: #4a5058;
  display: flex;
  gap: 10px;
  padding: 10px;
}
